*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Monsterrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
